@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "react-toastify/dist/ReactToastify.css";

@font-face {
  font-family: "Lexend_Deca";
  src: local("Lexend_Deca"),
    url("/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf")
      format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.tooltip {
  border-radius: 0.25rem;
  background: #26313c;
  color: #fff;
  padding: 1rem;
  box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.auth_container {
  background-image: url("/images/lily-banse--unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
.bganim {
  background: linear-gradient(
    60deg,
    #3792e4,
    #31cabd,
    #3792e4,
    #f43b60,
    #3792e4
  );
  background-size: 800% 800%;
  -webkit-animation: NameAnimation 15s ease infinite;
  -moz-animation: NameAnimation 15s ease infinite;
  -o-animation: NameAnimation 15s ease infinite;
  animation: NameAnimation 15s ease infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
@-webkit-keyframes NameAnimation {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
@-moz-keyframes NameAnimation {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
@-o-keyframes NameAnimation {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
@keyframes NameAnimation {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
